$primary-color: #009879;
$secondary-color: rgb(85, 84, 84);
$btn: #00b894 !important;
$btn-color: black !important; 
$tb-color: #fff !important;
$border: collapse;
$solid: 1px solid;
$margn: 25px 0;
$size: 0.9rem;
$ffamily: sans-serif;
$minw: 400px;
$shadows: 0 0 20px rgba(0, 0, 0, 0.15);
$txtalgn: center;

  .ui-state-default{
    background-color: $primary-color;
    color: $tb-color;
    border: $solid $secondary-color;
    border-collapse: $border;
    margin: $margn;
    font-size: $size;
    font-family: $ffamily;
    min-width: $minw;
    box-shadow: $shadows;
    text-align: $txtalgn;
  }

  .page-item.active .page-link{
    background-color: $btn;
    color: $btn-color;
  }

  .page-link{
    color: $btn-color;
  }

  .btn-primary {
    position: absolute;
    bottom: 255px;
    right: 70px;
} 